<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Activities</key>
	<dict/>
	<key>AdContents</key>
	<array>
		<string>AdContents/1.html</string>
		<string>AdContents/2.html</string>
	</array>
	<key>ContactUs</key>
	<dict/>
	<key>IssueFolder</key>
	<string>20130601</string>
	<key>IusseDate</key>
	<date>2013-05-30T08:25:07Z</date>
	<key>IusseNumber</key>
	<string>第12期</string>
	<key>Referrals</key>
	<array>
		<dict>
			<key>ButtonType</key>
			<string></string>
			<key>Image</key>
			<string></string>
			<key>Reporter</key>
			<string>编辑/林芝  美编/张慧慧</string>
			<key>SubTitle</key>
			<string>夫妻双方要有共同的生活目标何生活追求</string>
			<key>Title</key>
			<string> 一个离婚女人给姐妹们的婚姻忠告</string>
			<key>Type</key>
			<integer>1</integer>
			<key>URI</key>
			<string>Issues/20130601/Articles/0.html</string>
		</dict>
		<dict>
			<key>ButtonType</key>
			<string></string>
			<key>Image</key>
			<string>Issues/20130601/Articles/1.png</string>
			<key>Reporter</key>
			<string>情感急诊室</string>
			<key>SubTitle</key>
			<string>Issues/20130601/Articles/1.html</string>
			<key>Title</key>
			<string>40岁的回头剩女，就该“饥不择食”吗？</string>
			<key>Type</key>
			<integer>2</integer>
			<key>URI</key>
			<string></string>
		</dict>
		<dict>
			<key>ButtonType</key>
			<string></string>
			<key>Image</key>
			<string></string>
			<key>Reporter</key>
			<string></string>
			<key>SubTitle</key>
			<string></string>
			<key>Title</key>
			<string>M;35;175;硕士;管理;28岁到34岁之间，身高162cm以上，大专以上学历，月薪3000元以上的大连女孩</string>
			<key>Type</key>
			<integer>0</integer>
			<key>URI</key>
			<string>Referrals/0.html</string>
		</dict>
		<dict>
			<key>ButtonType</key>
			<string></string>
			<key>Image</key>
			<string></string>
			<key>Reporter</key>
			<string></string>
			<key>SubTitle</key>
			<string></string>
			<key>Title</key>
			<string>F;25;167;本科;编辑;有稳定工作，月薪在5000元以上，大专以上学历，有房，年龄在26岁以上未婚男孩</string>
			<key>Type</key>
			<integer>0</integer>
			<key>URI</key>
			<string>http://localhost/HongNiang/Referrals/1.html</string>
		</dict>
	</array>
	<key>TopURI</key>
	<string>http://localhost/HongNiang</string>
</dict>
</plist>
